:root {
  --mainGreen: #417B5A;
  --lightGreen: #4FB286;
  --lightGray: #D0CEBA;
  --mainWhite: #f3f3f3;
  --mainDark: #30323D;
  --mainYellow: #E8C547;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Itim", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-green {
  color: var(--mainGreen);
}

.text-bright {
  color: var(--lightGreen);
}